css
body { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif; 
    margin: 20px; 
    background-color: #FDF3D6;
    color: #333; 
}

header { 
    margin-bottom: 20px; 
    background-color: #FEE3EC;
}

nav { 
    background: #F9B2BC; 
    padding: 2dvh; 
    margin-bottom: 20px;
    align-content: flex-end;
}

nav a { 
    font-family: 'Lucida Grande';
    font-style: bold;
    margin-right: 30px; 
    text-decoration: none;
    padding: 20px; 
    color: #000000;
}

h2 {
    font-family: 'Lucida Sans Regular', sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #F9B2BC;
}

h3 {
    font-family: 'Lucida Sans Regular', sans-serif;
    text-align: left;
    color: #000000;
    margin: 10px
}

iframe { 
    display: block; 
    width: 100%; 
    height: 200%; 
    margin-bottom: 20px; 
    border: none;
}

table { 
    width: 100%; 
    border-collapse: collapse; 
    margin-bottom: 20px; 
    background-color: #C2DAD6;
}

th, td { 
    border: 1px solid #9CCFCE; 
    padding: 8px; 
    text-align: left; 
}