css
body {
    background-color: #ffffff; /* white */
    color: #000000; /* black */
}

header {
    color: #000000; /* black */
}

header a {
    color: #000000; /* black */
    background-color: #ffffff; /* white */
}

h1 {
    color: #000000; /* black */
}

div.this, div.invitation {
    background-color: #808080; /* grey */
}

div.yours {
    background-color: #808080; /* grey */
}

.confirmation, .gift button {
    background-color: #000000; /* black */
    color: #ffffff; /* white */
}

#gift {
    border: 1px solid #808080; /* grey */
}

.close {
    color: #000000; /* black */
}

.gifts-container {
    color: #000000; /* black */
}

.gift {
    border: 1px solid #808080; /* grey */
    color: #000000; /* black */
}

.gift-icon {
    color: #000000; /* black */
}

.gift p {
    color: #000000; /* black */
}

.gift button {
    background-color: #808080; /* grey */
    color: #ffffff; /* white */
}

.gift button:hover {
    background-color: #000000; /* black */
}

#modal {
    background-color: rgba(0, 0, 0, 0.8);
}

#iframeModal {
    background-color: #ffffff; /* white */
    border: 1px solid #000000; /* black */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.5);
}

.info h3, .gift h3 {
    color: #000000; /* black */
}

.close:hover,
.close:focus {
    color: #000000; /* black */
}
